/* Globales */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.cabecera {
    background-color: rgb(198, 199, 199);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.barra {}

.logo {
    font-size: 1.8rem;
}

.logo span {
    font-weight: 200;
}

.navegacion-principal {
    display: flex;
    flex-direction: row;
}

.navegacion-principal a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    color: black;
}


/*Ejemplo código hero*/

.hero {
    height: 30rem;
    background-image: url(../img/img_hero.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.hero:after {
    content: '';
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contenido-hero {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
}


/* Main */

.main {}


/* Fin main */


/* Footer */

footer {
    height: 100px;
    background-color: rgb(198, 199, 199);
}

.texto-ejemplo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
}


/* Fin footer */


/* Pagina contacto */

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


/* Fin pagina contacto */